/* Buttons */

.button {
  min-height: $medium_size;
  padding: 0 16px;
  border-width: 0;
  border-radius: $buttons_radius;
  @include font(button);
  @include button(flat-normal);
  &:hover { @include button(flat-hover); }
  &:active { @include button(flat-active); }
  &:insensitive { @include button(flat-insensitive); }
  &:focus { @include button(flat-focus); }
}
