/* Entries */

StEntry {
  min-height: $medium_size;
  padding: 0 8px;
  border-radius: if($corner-style == 'circular', $circular_radius, $buttons_radius);
  border-width: 0;
  selection-background-color: $primary_color;
  selected-color: $light_fg_color !important;
  @include font(subheading);
  @include entry(normal);
  &:hover { @include entry(hover);}
  &:focus { @include entry(focus);}
  &:insensitive { @include entry(insensitive);}
  StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: $warning_color;
    padding: 0 0;
  }
  StIcon.peek-password {
    icon-size: 16px;
    padding: 0 4px;
  }
  StLabel.hint-text {
    margin-left: 2px;
    color: $disabled_fg_color;
  }
}
