/* OSD */

$osd_levelbar_height: 4px;

.osd-window {
  @extend %osd_panel;
  text-align: center;
  font-weight: bold;
  spacing: $container_padding * 2; // 12px
  padding: $container_padding * 2 $container_padding * 3;
  & > * { spacing: 8px; }
  margin-bottom: $container_margin * 16; // 32px
  min-height: 24px;

  StIcon {
    icon-size: 24px;
  }

  .osd-monitor-label { font-size: 3em; }

  StLabel {
    &:ltr { margin-right: $container_padding; }
    &:rtl { margin-left: $container_padding; }
  }

  .level {
    height: $osd_levelbar_height;
    -barlevel-height: $osd_levelbar_height;
    -barlevel-background-color: rgba($primary_color, $lower_opacity);
    -barlevel-active-background-color: $primary_color;
    -barlevel-overdrive-color: $destructive_color;
    -barlevel-overdrive-separator-width: 3px;
    -barlevel-border-width: 0;
    min-width: 120px;
    &:ltr { margin-right: $container_padding; }
    &:rtl { margin-left: $container_padding; }
  }
}

/* Pad OSD */
.pad-osd-window {
  padding: 32px;
  background-color: transparentize(black, 0.2);
  border: none;

  .pad-osd-title-box { spacing: $container_padding * 2; }
  .pad-osd-title-menu-box { spacing: $container_padding; }
}

.combo-box-label {
  width: 15em;
}

.resize-popup {
  @extend %osd_panel;
}
