/* Search */

// search overview container
#searchResultsContent {
  max-width: 1024px;
  spacing: $container_margin * 2;
}

// search results sections "the boxes"
.search-section {
  // This should be equal to #searchResultsContent spacing
  spacing: $container_margin * 2;

  // separator
  .search-section-separator {
    // height: 1px;
    // background-color: $osd_outer_borders_color;
    height: 0;
    background-color: transparent;
  }
}

// content
.search-section-content {
  background-color: $inverse_divider_color;
  border-radius: $buttons_radius + $container_padding;
  border: none;
  box-shadow: none;
  text-shadow: none;
  color: $inverse_fg_color;
  padding: $container_padding * 3;
  // This is the space between the provider icon and the results container
  spacing: $container_margin * 2;
}

%search-section-content-item {
  @extend %icon_tile;
  border-radius: $circular_radius;

  &:focus,
  &:hover,
  &:selected {
    background-color: $inverse_divider_color;
    transition-duration: 200ms;
  }

  &:active,
  &:checked {
    background-color: $inverse_track_color;
  }
}

// "no results" text
.search-statustext {
  @extend %status_text;
}

.grid-search-results {
  spacing: $container_padding * 6;
}

// Search results with icons
.grid-search-result {
  @extend %app-well-app;
}

// search result provider
.search-provider-icon {
  @extend %search-section-content-item;

  // content
  .list-search-provider-content {
    spacing: $container_padding * 2;

    // provider labels
    .list-search-provider-details {
      width: 120px;
      margin-top: 0;
      color: $inverse_secondary_fg_color;
      // font-weight: bold;
    }
  }
}

// search results list
.list-search-results {
  spacing: $container_padding;
}

// search result listitem
.list-search-result {
  @extend %search-section-content-item;

  // content
  .list-search-result-content {
    spacing: $container_padding;
  }

  // list item title (with leading icon)
  .list-search-result-title {
    spacing: $container_padding * 2;
    // font-weight: bold;
  }

  // list item description
  .list-search-result-description {
    color: $inverse_hint_fg_color;
  }
}
