$variant: 'dark';
$laptop: 'true';
$panel: 'dark';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/common';
@import '../sass/widgets';
@import '../sass/extensions-40-0';
