$variant: 'dark';
$laptop: 'false';
$panel: 'dark';
$trans: 'true';
$theme: 'grey';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/common-40-0';
@import '../sass/widgets';
@import '../sass/extensions-40-0';
