$variant: 'dark';
$laptop: 'false';
$panel: 'dark';
$trans: 'true';
$theme: 'purple';

@import 'sass/variables';
@import 'sass/colors';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/extensions';
