$variant: 'light';
$laptop: 'false';
$panel: 'light';
$trans: 'true';
$theme: 'pink';

@import 'sass/variables';
@import 'sass/colors';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/extensions';
