$variant: 'dark';
$laptop: 'true';
$panel: 'dark';
$trans: 'true';
$theme: 'pink';

@import 'sass/variables';
@import 'sass/colors';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/extensions';
