.DS_store
.sass-cache
*-temp.scss
release/Orchis-Green.tar.xz
release/Orchis-Grey.tar.xz
release/Orchis-Orange.tar.xz
release/Orchis-Pink.tar.xz
release/Orchis-Purple.tar.xz
release/Orchis-Red.tar.xz
release/Orchis-Teal.tar.xz
release/Orchis-Yellow.tar.xz
release/Orchis.tar.xz
