.DS_store
.sass-cache
*-temp.scss
.vscode
src/cinnamon/cinnamon-Compact.css
src/cinnamon/cinnamon-Dark-Compact.css
src/cinnamon/cinnamon-Dark.css
src/cinnamon/cinnamon.css
src/gnome-shell/shell-3-28/gnome-shell-Compact.css
src/gnome-shell/shell-3-28/gnome-shell-Dark-Compact.css
src/gnome-shell/shell-3-28/gnome-shell-Dark.css
src/gnome-shell/shell-3-28/gnome-shell.css
src/gnome-shell/shell-40-0/gnome-shell-Compact.css
src/gnome-shell/shell-40-0/gnome-shell-Dark-Compact.css
src/gnome-shell/shell-40-0/gnome-shell-Dark.css
src/gnome-shell/shell-40-0/gnome-shell.css
src/gnome-shell/shell-42-0/gnome-shell-Compact.css
src/gnome-shell/shell-42-0/gnome-shell-Dark-Compact.css
src/gnome-shell/shell-42-0/gnome-shell-Dark.css
src/gnome-shell/shell-42-0/gnome-shell.css
src/gnome-shell/shell-44-0/gnome-shell-Compact.css
src/gnome-shell/shell-44-0/gnome-shell-Dark-Compact.css
src/gnome-shell/shell-44-0/gnome-shell-Dark.css
src/gnome-shell/shell-44-0/gnome-shell.css
src/gnome-shell/shell-46-0/gnome-shell-Compact.css
src/gnome-shell/shell-46-0/gnome-shell-Dark-Compact.css
src/gnome-shell/shell-46-0/gnome-shell-Dark.css
src/gnome-shell/shell-46-0/gnome-shell.css
src/gtk/3.0/gtk-Compact.css
src/gtk/3.0/gtk-Dark-Compact.css
src/gtk/3.0/gtk-Dark.css
src/gtk/3.0/gtk-Light-Compact.css
src/gtk/3.0/gtk-Light.css
src/gtk/3.0/gtk.css
src/gtk/4.0/gtk-Compact.css
src/gtk/4.0/gtk-Dark-Compact.css
src/gtk/4.0/gtk-Dark.css
src/gtk/4.0/gtk-Light-Compact.css
src/gtk/4.0/gtk-Light.css
src/gtk/4.0/gtk.css
