$variant: 'light';
$laptop: 'true';
$panel: 'dark';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/common';
@import '../sass/widgets-42-0';
@import '../sass/extensions-40-0';
