
 %circular_list {
   border-radius: $corner-radius + 1px;
   box-shadow: none;
   border: 1px solid $divider;
 }

 %circular_row {
   &:first-child {
     border-top-left-radius: $corner-radius;
     border-top-right-radius: $corner-radius;
   }

   &:last-child { // Not use ?
     border-bottom-left-radius: $corner-radius;
     border-bottom-right-radius: $corner-radius;
   }

   &:only-child {
     border-radius: $corner-radius;
   }

   &:focus {
     box-shadow: inset 0 0 0 2px $overlay-focus;
   }
 }

/**************
 * Extensions *
 **************/
window.background.csd {
  > stack, // GameMode setting
  > stack > scrolledwindow > viewport > box, // User Themes (Workspace) setting
  > box > stack > scrolledwindow > viewport > box {
    > list {
      @extend %circular_list;

      row.activatable { @extend %circular_row; }
    }
  }

  stack stack stack frame, // ArcMenu setting
  > stack > stack > box > frame, // Night Theme Switcher setting
  > stack > stack > box > box > frame, // Night Theme Switcher setting bottom lists
  > stack > box > stack > box > frame, // ArcMenu setting
  > stack > box > stack > scrolledwindow > viewport frame, // ArcMenu setting
  > stack > box > stack > box > scrolledwindow > viewport > frame, // ArcMenu setting
  > stack > grid > scrolledwindow > viewport > box > frame { // GSConnect setting
    > border { border: none; }

    > list {
      @extend %circular_list;

      row.activatable { @extend %circular_row; }
    }
  }

  > stack > box > box > list,
  > stack > box > stack > scrolledwindow > viewport > list { // ArcMenu setting sidebar
    border-bottom-left-radius: $window-radius;
  }

  > stack > box > .sidebar > scrolledwindow > viewport > list {
    padding: 0 0;
  }
}

