//
// Gnome Software
//

flowboxchild > button.card {
  box-shadow: none;

  .large-icons {
    -gtk-icon-size: 32px;
  }

  &.category-work {
    background-color: $yellow-100;
    color: on($yellow-100);
  }

  &.category-develop {
    background-color: $grey-700;
    color: on($grey-700);
  }

  &.category-tile {
    padding: $container-padding * 3.5;
  }

  &.category-tile-iconless {
    padding: $container-padding * 1.5 $container-padding * 2.5;
  }
}
