//
// Dash to Dock
//

$icon_padding: 9px;

#dashtodockContainer {
  background: transparent;

  #dash,
  &:overview #dash,
  &.extended #dash,
  &.extended:overview #dash {
    padding: 0;
    border: none;
    margin: 0;
  }

  @each $_dock, $_radius in (top, 16px 16px 16px 16px),
                            (bottom, 16px 16px 16px 16px),
                            (left, 16px 16px 16px 16px),
                            (right, 16px 16px 16px 16px) {
    &.#{$_dock} #dash,
    &.#{$_dock}:overview #dash { border-radius: #{$_radius}; }

    &.#{$_dock}.extended #dash,
    &.#{$_dock}.extended:overview #dash { border-radius: #{$_radius}; }
  }

  #dash { // default-mode
    background-color: $panel_bg_color;
    box-shadow: none;
  }

  &.opaque #dash { // solid-mode
    background-color: $panel_bg;
  }

  &.transparent #dash { // translucent-mode
    background-color: $panel_bg_color; // does not work
  }

  &:overview #dash { // overview-mode #1
    background-color: $panel_bg_color;
  }

  &.opaque:overview,
  &.transparent:overview { // overview-mode #2
    #dash {
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }

  &.extended:overview, // overview-mode #3
  &.opaque.extended:overview,
  &.transparent.extended:overview {
    #dash {
      background-color: $panel_bg_color;
    }
  }

  .app-well-app,
  .show-apps {
    .overview-icon {
      padding: $icon_padding;
      background-size: contain;
    }
  }
}

//
// Simple Dock
//

#dash:desktop {
  background-color: $panel_bg_color;
}

//
// OpenWeather
//

.openweather {
  &-button,
  &-button-action,
  &-menu-button-container,
  &-button-box {
    border: 1px solid transparent;
  }

  &-provider {
    // generic text buttons are allocated with y-expand-ed
    padding: 0 16px;
    font-weight: 500;
    @include button(flat-normal);
    &:hover { @include button(flat-hover); }
    &:focus { @include button(flat-focus); }
    &:active { @include button(flat-active); }
    &:insensitive { @include button(flat-disabled); }
  }

  &-current {
    &-icon,
    &-summary,
    &-summarybox {
      background: none;
      color: $fg_color;
    }

    &-databox-values {
      background: none;
      color: $hint_fg_color;
    }

    &-databox-captions {
      background: none;
      color: $hint_fg_color;
    }
  }

  &-forecast {
    &-icon,
    &-summary {
      background: none;
      color: $secondary_fg_color;
    }

    &-day,
    &-temperature {
      background: none;
      color: $hint_fg_color;
    }
  }

  &-sunrise-icon,
  &-sunset-icon,
  &-build-icon { color: $secondary_fg_color; }
}

//
// GPaste
//

.popup-menu {
  .search-entry {
    color: $fg_color;
    selection-background-color: $primary_color;
    selected-color: $inverse_fg_color;
    @include entry(normal);

    &:focus {
      @include entry(focus);
      color: $fg_color;
    }

    .search-entry-icon { color: $hint_fg_color; }

    &:hover, &:focus {
      .search-entry-icon { color: $fg_color; }
    }
  }
}
