Source: orchis-gtk-theme
Section: misc
Priority: optional
Maintainer: Jérémy Lal <kapouer@melix.org>
Build-Depends: debhelper-compat (= 13), sassc
Standards-Version: 4.5.1
Homepage: https://github.com/vinceliuice/Orchis-theme

Package: orchis-gtk-theme
Architecture: all
Depends: gnome-themes-extra,
	gtk2-engines-murrine,
	libgtk-3-common,
	libgtk2.0-common,
	${misc:Depends}
Description: Material Design theme for GNOME/GTK+ based desktop environments
 Materia (formerly Flat-Plat) is a Material Design theme for GNOME/GTK+ based
 desktop environments.It supports GTK+ 3, GTK+ 2, GNOME Shell, Budgie, MATE,
 Unity, LightDM, GDM, Chrome theme, etc.
 .
 Also Materia has compatibility with oomox theme designer.
