$variant: 'dark';
$topbar: 'dark';
$compact: 'true';

@import '../../_sass/variables';
@import '../../_sass/colors';
@import '../../_sass/gnome-shell/drawing';
@import '../../_sass/gnome-shell/common';
@import '../../_sass/gnome-shell/widgets-48-0';
@import '../../_sass/gnome-shell/extensions-46-0';
