// Gnome-shell panel style
$panel_style: 'float';

// transparent opacity
$opacity: 'default';

// blackness
$blackness: 'false';

// Theme primary color
$theme: 'default';

// Check and radio primary color
$check_radio: 'default';

// Default corner radius value
$default_corner: 12px;

// Default corner radius value
$mac_style: 'false';
