$variant: 'light';
$laptop: 'false';
$panel: 'dark';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/common-3-28';
@import '../sass/extensions-3-28';
