$variant: 'dark';
$laptop: 'false';
$panel: 'dark';
$trans: 'true';
$theme: 'red';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/common-3-28';
@import '../sass/extensions-3-28';
