$variant: 'light';
$laptop: 'true';
$panel: 'light';
$trans: 'true';
$theme: 'purple';

@import '../sass/variables';
@import '../sass/colors';
@import '../sass/drawing';
@import '../sass/common-3-28';
@import '../sass/extensions-3-28';
