// generic drawing of more complex things

// ripple effect animations

@keyframes ripple {
  from {
    background-image: radial-gradient(circle farthest-corner at center, $overlay-checked 30%, transparent 0%);
  }

  to {
    background-image: radial-gradient(circle farthest-corner at center, $overlay-checked 100%, transparent 0%);
  }
}

@keyframes ripple-on-slider {
  from {
    background-image: radial-gradient(circle farthest-corner at center, $overlay-active 0%, transparent 0%);
  }

  to {
    background-image: radial-gradient(circle farthest-corner at center, $overlay-active 100%, transparent 0%);
  }
}

@keyframes ripple-on-headerbar {
  from {
    background-image: radial-gradient(circle farthest-corner at center, $primary 30%, transparent 0%);
  }

  to {
    background-image: radial-gradient(circle farthest-corner at center, $primary 100%, transparent 0%);
  }
}

@mixin entry($t, $fc: $primary) {
//
// entry
//
// $t: entry type
// $fc: focus color
//

  @if $t == normal {
    transition: outline-color $ripple-fade-out-duration $ease-out,
                outline-width $ripple-fade-out-duration $ease-out,
                outline-offset $ripple-fade-out-duration $ease-out;
    outline: 0 solid transparent;
    outline-offset: 4px;
    background-color: if($fc == $primary, $entry, rgba($fc, 0.08));
    color: if($fc == $primary, $text, $fc);
  }

  @if $t == hover {
    background-color: $overlay-hover;
    color: if($fc == $primary, $text, $fc);
    outline: 2px solid $overlay-hover;
    outline-offset: -2px;
  }

  @if $t == focus {
    background-color: $overlay-focus;
    outline: 2px solid if($fc == $primary, $track, $fc);
    outline-offset: -2px;
  }

  @if $t == checked {
    background-color: if($fc == $primary, $entry, rgba($fc, 0.08));
    color: if($fc == $primary, $text, $fc);
    outline-color: if($fc == $primary, $primary, $fc);
    outline-width: 2px;
    outline-offset: -2px;
  }

  @if $t == disabled {
    background-color: if($fc == $primary, $fill, rgba($fc, 0.04));
    color: $text-disabled;
    color: if($fc == $primary, $text-disabled, rgba($fc, 0.35));
    outline: none;
    filter: none;
    opacity: 1;

    > label { color: $text-disabled; }
  }
}


@mixin button($t) {
//
// button
//
// $t: button type
//

  @if $t == normal {
    transition: $transition,
                background-size 0,
                background-image 0;
    outline: none;
    box-shadow: inset 0 0 0 9999px transparent;
    background-color: $button;
    background-image: radial-gradient(circle, transparent 0%, transparent 0%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000% 1000%;
    color: $text;
  }

  @if $t == hover {
    box-shadow: inset 0 0 0 9999px $overlay-hover;
  }

  @if $t == focus {
    box-shadow: inset 0 0 0 2px $overlay-focus, inset 0 0 0 9999px transparent;
  }

  @if $t == active {
    transition: $transition,
                background-size 0ms,
                background-image 0ms,
                border 0ms;
    animation: ripple $ripple-fade-in-duration $ease-out forwards;
    box-shadow: inset 0 0 0 9999px $overlay-hover;
    background-image: radial-gradient(circle, $overlay-active 10%, transparent 0%);
    background-size: 100% 100%;
  }

  @if $t == disabled {
    box-shadow: none;
    background-color: $fill;
    color: $text-disabled;
    filter: none;
    opacity: 1;
  }

  @if $t == checked {
    box-shadow: none;
    background-color: $primary;
    color: on($primary);
  }

  @if $t == checked-hover {
    box-shadow: inset 0 0 0 9999px transparent;
  }

  @if $t == checked-disabled {
    box-shadow: inset 0 0 0 9999px $overlay-checked;
    background-color: $fill;
    color: $text-disabled;
  }

  @if $t == flat-normal {
    transition: $transition,
                background-size 0,
                background-image 0;
    outline: none;
    box-shadow: inset 0 0 0 9999px transparent;
    background-color: transparent;
    background-image: radial-gradient(circle, transparent 0%, transparent 0%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000% 1000%;
    color: $text-secondary;
  }

  @if $t == flat-hover {
    box-shadow: inset 0 0 0 9999px $overlay-hover;
    color: $text;
  }

  @if $t == flat-focus {
    box-shadow: inset 0 0 0 2px $overlay-focus;
    color: $text;
  }

  @if $t == flat-active {
    transition: $transition,
                background-size 0ms,
                background-image 0ms;
    animation: ripple $ripple-fade-in-duration $ease-out forwards;
    box-shadow: inset 0 0 0 9999px $overlay-hover;
    background-image: radial-gradient(circle, $overlay-active 10%, transparent 0%);
    background-size: 100% 100%;
    color: $text;
  }

  @if $t == flat-disabled {
    box-shadow: none;
    background-color: transparent;
    color: $text-secondary-disabled;
  }

  @if $t == flat-checked {
    background-color: $overlay-checked;
    color: $text;
  }

  @if $t == flat-checked-disabled {
    background-color: $overlay-checked;
    color: $text-disabled;
  }
}


@mixin overshoot($p) {
//
// overshoot
//
// $p: position
// $t: type
// $c: base color
//
// possible $p values:
// top, bottom, right, left
//
// possible $t values:
// normal, backdrop
//

  $_position: center $p;

  @if ($p == left) or ($p == right) {
    $_position: $p center;
  }

  background-size: 200% 70%;
  background-image: radial-gradient( farthest-side at $p, $fill 99%, transparent 100%);
  background-repeat: no-repeat;
  background-position: $_position;

  background-color: transparent; // reset some properties to be sure to not inherit them somehow
  border: none;                  //
  box-shadow: none;              //
}


@mixin undershoot($p) {
//
// undershoot
//
// $p: position
//
// possible $p values:
// top, bottom, right, left
//

  $_undershoot_color_dark: $track;
  $_undershoot_color_light: transparent;

  $_gradient_dir: left;
  $_dash_bg_size: 12px 1px;
  $_gradient_repeat: repeat-x;
  $_bg_pos: left $p;

  @if ($p == left) or ($p == right) {
    $_gradient_dir: top;
    $_dash_bg_size: 1px 12px;
    $_gradient_repeat: repeat-y;
    $_bg_pos: $p top;
  }

  background-color: transparent; // shouldn't be needed, but better to be sure

  background-image: linear-gradient(to $_gradient_dir, // this is the dashed line
                                    $_undershoot_color_light 50%,
                                    $_undershoot_color_dark 50%);

  padding-#{$p}: 1px;
  background-size: $_dash_bg_size;
  background-repeat: $_gradient_repeat;
  background-origin: content-box;
  background-position: $_bg_pos;
  margin: 0 4px;

  @if ($p == left) or ($p == right) {
    margin: 4px 0;
  }
}
